body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

.footer-div{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-width: 400px;
}

.footer-div button{
    border-radius: 30px;
    border: 0.5px solid black;
}